[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchapi = "*"
python-dotenv = "*"
tinydb = "*"
psutil = "*"
gotify = {extras = ["stream"], version = "*"}
thefuzz = "*"
async-lru = "*"
aiofiles = "*"
"ruamel.yaml" = "*"

[dev-packages]

[requires]
python_version = "3.13"
